
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
</head>
<body>
    <div> 
        <h1>Jquery View</h1>
        <label id="labe"></label>
        <input type="button" onclick="myfunc()" value="Click Me"/>
        <input type="text" id="newid"/>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        alert("Aur Bhai Kya Haal Hai");
    });

    function myfunc() {
        var newvalue = $("#newid").val();
        $("#labe").text(newvalue);
    }
</script>
